<!-- Header -->
<section id="header">
    <div class="inner">
        <span class="icon major fa-code"></span>
        <h1>
            Hi, this is <strong>{{ site.title }}</strong>, an informal<br />
            gathering for people working with data in <br />
			Perth, Western Australia.
        </h1>

        <p>
            All levels of are expertise welcome. All faculties welcome.<br />
            Bring a problem, an idea, a work-in-progress, a finished project, or just your enthusiasm.
        </p>
        <ul class="actions">
            <li><a href="#one" class="button scrolly">When and where?</a></li>
        </ul>
    </div>
</section>
